@import 'colors/colors', 'henris', 'functions' ;

h1 {
	font-family: 'PT Mono', monospace;
	font-size: grid(1);
	& + p {
		margin-top: rem(20);
	}
}
p {
	line-height: 1.8;
	font-size: rem(18);
	font-family: 'Open Sans', sans-serif;
	&+p {
		margin-top: rem(30);
	}
}

.container {
	width: 100vw;
	height: 100vh;
	// overflow: hidden;
}

.filter {
	background: color(Lavender);
	position: relative;
	z-index: -1;
	left: -100vw;
	width: 200vw;
	height: 200vh;
	svg{
		width: 100%;
		height: 100%;
		color-interpolation-filters:sRGB;
		transform: rotate(-90deg);
		transition: 1s 2s;
	}
}

.intro {
	display: none;
	color: #D1E9EB;
	width: grid(10); float: right;
	margin-right: grid(2);
	margin-top: grid(4)
}

.sidebar {
	color: white;
	z-index: 3;
	position: absolute;
	bottom: 35%;
	right: -15%;
	transform: rotate(-90deg);
	p {
	font-size: rem(16);
}
}
