@import
'variables/index',
'typography/embed',
'colors/colors',
'~henris/custom-output';
$output: set-output(css,true);

@import '~henris', 'functions', 'components/index', 'typography/index';
// 'sections/index';
body, html {
	background: white;
}

.row.space-between {
	justify-content: space-between;
}

.forward-slash {
	position: relative;
	&:before {
		content: '';
		transition: 0.4s ease-out;
		position: absolute;
		height: 12px;
		width: 1px;
		background: color(Black);
		transform: rotate(90deg);
		bottom: 3px;
		left: -10px;
	}
	&:hover {
		&:before {
			left: -5px;
			transform: rotate(15deg);
		}
	}
}
