body {
	font-family: 'Helvetica Neue', sans-serif;
}

p {
	margin: 0;
}


h1 {
	font-size: grid(1);
	line-height: 1;
	font-weight: 600;
	@include min-("font-size", 1, 50);
	@include max-("font-size", 1, 80);
	& + p {
		margin-top: 2rem;
	}
	& + h2 {
		margin-top: grid(.5);
		@media #{$medium-down} {
			margin-top: rem(20);
		}
	}
	& + .row {
		margin-top: grid(.5);
		@media #{$medium-down} {
			margin-top: rem(20);
		}
	}
}
h2 {
	font-size: grid(32/60);
	@include min-("font-size", 32/60, 24);
	line-height: 1.25;
	& + p {
		margin-top: 2rem;
	}
}

h5 {
	font-size: 1rem;
	& + h1 {
		margin-top: 5px;
	}
}


p {
	line-height: 1.8;
	font-size: 1rem;
	font-weight: 400;
	&+p, &+ a {
		margin-top: rem(20);
	}
}

a{
	text-decoration: none;
	&:not([class])[href] {
		font-size: rem(14);
		color: color(Yellow);
		font-weight: 500;
	}
}

.font-medium {
	font-weight: 500;
}

.serif {
	font-family: 'Sinanova', serif;
}

.sans-serif {
	font-family: 'HelveticaNeue', serif;
}


.row + .row {
	margin-top: rem(40);
}
