$custom-colors: (
"Black": #000000,
"White": #FFFFFF,
"code": #0d3252,
"Yellow": #ffb200,
"Grey": #777777
);

// Color class

@each $name, $value in $custom-colors {
	$name-lowercase: to-lower-case($name);
	.bg-#{$name},
	.bg-#{$name-lowercase} {
		background-color: $value;
		color: contra($value);
	}
	.text-#{$name},
	.text-#{$name-lowercase},
	.content .text-#{$name-lowercase} {
		color: $value;
		a {
			color: $value;
		}
	}
}
